body{
    font-family: 'Rubik', sans-serif;
}

/* nvbar */
.nav-k{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.nav-k-i{
    text-align: center;
    padding: 15px 0px 15px;
    color: rgb(82, 78, 78);
} 
.nav-k-i:hover{
    background-color: #3e473066;
    border-radius: 10px;
}
.navbar-brand{
    color: rgb(82, 78, 78);
}

/* btn link img*/
.btn-img{
    height: 100px;
    display: contents;
}
.btn-img-span{
    position: relative;
    top: 110px;
    right: 150px;
    font-size: 1.5rem;
    display: block;
    color: #ffffff8c;
    height: 0px;
    rotate: -90deg;
}

.btn-img-p{
    margin-top: 0;
    margin-bottom: 10px;
}
.btn-img-p:hover{
    filter: brightness(0.9);
}

/*title seccion*/
.k-title{
    position: relative;
}
.k-title-txt{
    -webkit-text-stroke: 0.5px #00000094;
    color: #ffffff45;
    font-size: 3rem;
    position: absolute;
    left: 20%;
    top: 20%;
}
.k-title-txt-h1{
    z-index: 1;
    top: 15px;
    position: relative;
    margin: 10px 0 50px;
}
/* card */
.card-k{
    border: none;
    width: 12rem;
}


.card-k-btn{
    background: #54682b;
    border: none;
    color: white;
    width: 100%;
    font-weight: 300;
}

/* carrousel icon */
.carousel-item-icon{
    width: 300px;
}
/* FOOTER */
    footer{
        height: 150px; 
    }
    .footer-span{
        text-align: center;
        padding: 25px;
    }

    .footer-link{       
        justify-content: space-evenly;
        align-items: center;
        font-weight: 100;
        font-size: 14px;
    } 
    .f-link{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.513);
    }


/* BOOSTSTRAP */
    .w-20{
        width: 20%;
    }
    .card-img-top{
        border-radius: 6px;
    }
    .card-img-top:hover{
        background-color: #00000094;
    }
    /* carrousel */
    .carousel-control-next, .carousel-control-prev{
        z-index: 0;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 70vh;
    }
    /*BTN TOGGLER*/
    .navbar-toggler:focus {
    box-shadow: none;
     }
    .navbar-toggler{
        border: none;
     }
    
    /*nav-item*/
    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: flex;
    }
   
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
        color: #585858c4;
    }

    .carousel-i{
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform 10s ease-in-out;
    }

    .carousel-i.active,
    .carousel-i-next,
    .carousel-i-prev {
    display: flex;
    }

    .carousel-i-next:not(.carousel-i-start),
    .active.carousel-i-end {
    transform: translateX(15%);
    }

    .carousel-i-prev:not(.carousel-i-end),
    .active.carousel-i-start {
    transform: translateX(-15%);
    }
    .active.carousel-i-start, .carousel-i-prev:not(.carousel-i-end) {
        transform: translateX(-15%);
     }
    .form--bck{
        background-image: url(../assets/footer-bckg.webp);
        background-position: center;
        background-size: cover;
        height: 200px;
        justify-content: center;
        align-items: center;
    }

